.thead{
    color: #fff;
    text-align: left;
    font-size: 1rem;
    /*font-weight: bold;*/
}
.tbody-item{
    color: #A6AEBF;
    font-size: 1rem;
    /*text-align: center;*/
}
.tbody-item-price{
    color: #1CA8DD;
    font-size: 1rem;
    /*font-weight: bold;*/
}