.blackBG{
    background-color: #2F323A;
}

.normalHeader{
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: left;
    padding-left:.5rem ;
}
.blackHeader{
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #2F323A;
    color: #fff;
    text-align: left;
    padding-left:.5rem ;
}
.title-header{
    font-size: 1.1rem;
}

.QTYNumber{
    color:#A6AEBF
}
.QTY{
    color:#888687
}
.QTY-container{
    position: absolute;
    left: 40%;
    top:35%
}
.SVG-container{
    position: relative;
}

.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}