.blackBG{
    background-color: #2F323A;
}

.normalHeader{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.blackHeader{
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #2F323A;
    color: #fff;
}
.title-header{
    font-size: 1.1rem;
}

.QTYNumber{
    color:#A6AEBF
}
.QTY{
    color:#888687
}
.QTY-container{
    position: absolute;
    left: 40%;
    top:35%
}
.SVG-container{
    position: relative;
}